.starter-template {
	padding: 40px 15px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #002a40;
}

ol, ul {
	list-style: none;
}

div {
	display: block;
}

body, html {
	font-family: 'Century Gothic', sans-serif !important;
}

h1 {
	font-size: 60px;
	color: cadetblue;
}

h2 {
	text-align: center;
}

div {
	display: block;
}

p {
	color: grey;
}

.lead {
	text-align: left;
}

hr {
	clear: both;
	color: cadetblue;
	background-color: cadetblue;
	height: 5px;
	border-width: 0;
	width: 35%;
}

/*Banner and menu*/
#menu-opener {
	display: none;
	position: absolute;
	top: 35px;
	right: 35px;
	z-index: 1000;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

#body {
	margin: 0 auto 0 auto;
	text-align: left;
}

#outer {
	width: 100%;
	padding: 0;
	margin: 0 auto 0 auto;
}

#wrapper {
	text-align: left;
	padding: 0;
	margin: 0 auto 0 auto;
	background-color: #ffffff;
}

#header-wrapper {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 400px;
	text-align: center;
}

#menu ul, #language-menu ul {
	float: left;
}

#menu ul li, #language-menu ul li {
	float: left;
	padding: 8px 0px;
	font-size: 14px;
	font-weight: 600;
}

#menu ul li a, #language-menu ul li a {
	color: #fff;
	text-align: center;
	padding: 7px 5px;
}

#menu ul li a span, #language-menu ul li a span {
	color: #969696;
	padding-right: 5px;
}

#language-menu {
	top: 10px;
	position: absolute;
	right: 20px;
}

#language-menu #lang_sel {
	margin-right: 15px;
	margin-top: 15px;
}

#lang_sel {
	height: 32px;
	position: relative;
	z-index: 99;
	font-family: verdana, arial, sans-serif;
	float: right;
	top: 2px;
}

#lang_sel li {
	width: 74px;
	float: left;
	width: 149px;
	position: relative;
}

#lang_sel ul, #lang_sel li {
	padding: 0 !important;
	margin: 0 !important;
	list-style-type: none !important;
}

#lang_sel a.lang_sel_sel {
	background: url(../img/nav-arrow-down.png) #fff right no-repeat;
	color: #444;
}

#lang_sel a, #lang_sel a:visited {
	display: block;
	font-size: 11px;
	text-decoration: none !important;
	color: #444444;
	border: 1px solid #cdcdcd;
	background: #fff;
	padding-left: 10px;
	line-height: 24px;
}

#lang_sel img.iclflag {
	width: 18px;
	height: 12px;
	position: relative;
	top: 1px;
}

/*End Banner*/

/*Navbar*/

.navbar {
	border-radius: 2px;
}

.navbar-brand {
	font-size: 24px;
	margin-left: 20px;
	color: white !important;
}

.nav.navbar-nav.navbar-middle li a {
	color: white;
}

.active1 {
	margin-right: 20px;
	margin-left: 460px;
	font-size: 24px;
}

.buttons {
	margin-right: auto;
	margin-left: auto;
	font-size: 24px;
	text-align: center;
}

/* End Navbar */

#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  margin-left: 30%;
  display: inline-block;
}

/*Footer*/
@media (max-width: 950px)
#footer, #content-pages, #pre-footer, #pre-footer img, .devide img, .devide {
    width: 100%;
}

#footer {
    margin: 0 auto;
    background-color: #ffffff;
    width: 960px;
    height: 30px;
    color: #646464;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-align: center;
}

#footer .left {
    width: auto;
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 15px 0px;
}

#footer li {
    display: inline-block;
    padding: 0 4px;
    width: auto;
}

#footer a {
    color: #646464;
    text-decoration: underline;
 }

.icon {
	width: 50px;
	height: auto;
}

#footer .right {
    width: auto;
    color: #a4a4a4;
    font-size: 20px;
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 15px 0px;
}

#footer li {
    display: inline-block;
    padding: 0 4px;
    width: auto;
}

/* End Footer */